################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Oficina.Relatorios/.vs/Oficina.Relatorios
/Oficina.Relatorios/Oficina.Relatorios/bin/Debug/net8.0
/Oficina.Relatorios/Oficina.Relatorios/obj
/Oficina.Relatorios/.vs/ProjectEvaluation
/Oficina.Relatorios/Domain/bin/Debug/net8.0
/Oficina.Relatorios/Domain/obj/Debug/net8.0
/Oficina.Relatorios/Domain/obj
